nav {
  background: url("./../../assets/flash-2568383_1920.jpg");
}
nav a {
  color: $white;
  font-size: large;
  &:hover {
    color: gold;
  }
}
.box {
  width: 100px;
  height: 100px;
  background-color: indianred;
}
